/*
=========================
Responsive left menu
=========================
*/


// Variables
$primary_color: #333;
$menu_link_color: #555;
$vertical_nav_bg_color: #f6f6f6;

$vertical_nav_width: 200px;
$vertical_nav_margin_top: 60px;
$vertical_nav_minify_width: 50px;

$menu_link_font_size: 0.8125rem;


// CSS
* {
  box-sizing: border-box;
  transition: all .3s ease-out;
}


.toggle_menu {
  display: block;
  width: 44px;
  height: 44px;
  padding: 12px;
  background: none;
  border: 0;
  cursor: pointer;

  i {
    display: block;
    font-size: 28px;
  }

}


.vertical_nav {
  position: absolute;
  left: -$vertical_nav_width;
  top: $vertical_nav_margin_top;
  bottom: 0;
  width: $vertical_nav_width;
  background: $vertical_nav_bg_color;
  border-right: 1px solid #ccc;
  //box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  //transition: all .4s ease-out;
}

.vertical_nav__closed {
  left: - $vertical_nav_width !important;
}

.vertical_nav__opened {
  left: 0px !important;
}


.menu {
  position: absolute;
  bottom: 40px;
  overflow-y: auto;
  top: 0;
  width: 100%;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
}

.menu--item {
  position: relative;
  //transition: all .2s ease-out;
}

.menu--item:hover {
  background: darken( $vertical_nav_bg_color, 5% );
}

.menu--item__has_sub_menu:after {
  font-family: "FontAwesome";
  content: "\f0d7";
  position: absolute;
  right: 10px;
  top: 12px;
}

.menu--link {
  position: relative;
  display: block;
  padding: 12px;
  font-size: $menu_link_font_size;
  text-decoration: none;
  color: $menu_link_color;
  font-weight: 400;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  //transition: all .2s ease-out;

  &:hover {
    color: #000;
  }

}

.menu--icon {
  vertical-align: -8%;
  font-size: 20px;
}

// Menu sub level
.menu--subitens {
  display: none;
  overflow: hidden;
  padding-left: 0;
  padding-bottom: 8px;
  list-style: none;
  color: #fff;

  .menu--subitem_link {
    display: block;
    padding: 8px 12px 8px 42px;
    font-size: $menu_link_font_size;
    color: $menu_link_color;
    text-decoration: none;
    cursor: pointer;
  }

  .menu--subitem_link:hover {
    background: darken( $vertical_nav_bg_color, 10% );
    color: #000;
  }

}

.input_has_sub_menu {
  position: absolute;
  top: -9999px;
  left: -9999px;

  &:checked ~ ul {
    display: block;
  }

}
// End - Menu sub level


// vertical_nav--minify_menu -- display none in mobile
.vertical_nav--minify_menu {
  display: none;
}


// Wrapper definition -- optional
.wrapper {
  margin-top: $vertical_nav_margin_top;
  padding: 15px;
}


// Small devices (tablets)
@media (min-width: 768px) {

}


// Medium devices (desktops)
@media (min-width: 992px) {

  .vertical_nav {
    left: 0;
  }


  // Minify menu
  .vertical_nav__minify {
    width: $vertical_nav_minify_width;

    .menu--icon {
      float: none;
    }

    .menu--label {
      //display: none;
      opacity: 0;
    }

  }

  .vertical_nav--minify_menu {
    position: absolute;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 40px;
    line-height: 39px;
    padding-right: 15px;
    text-align: right;
    background: $vertical_nav_bg_color;
    border-top: 1px solid #e6e6e6;
    color: #666;
    font-size: 22px;
    cursor: pointer;

    i:before {
      content: "\f100";
    }

    &:hover {
      background: darken( $vertical_nav_bg_color, 10% );
    }

  }

  .vertical_nav__minify .vertical_nav--minify_menu i:before {
    content: "\f101";
  }
  // End - Minify menu


  .toggle_menu {
    display: none;
  }


  // Wrapper definition -- optional
  .wrapper {
    margin-left: $vertical_nav_width;
  }

  .wrapper__minify {
    margin-left: $vertical_nav_minify_width;
  }

}


// Large devices (Large desktops)
@media (min-width: 1200px) {

}

