/*==========================*\
  Responsive left menu
\*==========================*/

/*==========================*\
  Mobile first
\*==========================*/

.vertical-nav {
  position: absolute;
  left: -200px;
  top: 70px;
  bottom: 0;
  width: 200px;

  background-color: #f6f6f6;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);

  -webkit-transition: all .4s ease-out;
  -moz-transition: all .4s ease-out;
  -o-transition: all .4s ease-out;
  transition: all .4s ease-out;
}

.menu {
  padding-left: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.menu__item {
}

.menu li {
  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.menu li:hover {
  background-color: rgba(0,0,0,0.05);
}

.menu__item a {
  position: relative;

  display: block;
  padding: 12px;

  font-size: 14px;
  text-decoration: none;
  color: #555;
  font-weight: 400;
  overflow: hidden;

  -webkit-transition: all .2s ease-out;
  -moz-transition: all .2s ease-out;
  -o-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

.menu__item a:hover {
  color: #000;
}

.menu__item i {
  padding-right: 4px;
  vertical-align: -10%;
}

.toggle-menu {
  left: 0;
}

.menu__button {
  position: absolute;
  left: 20px;
  top: 15%;
  z-index: 1;

  display: block;
  height: 18px;
  padding: 12px;

  background-color: #fff;
  cursor: pointer;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.menu__button:before {

  content: "";
  display: inline-block;
  width: 20px;
  height: 0.25em;

  background: #404148;
  vertical-align: top;
  box-shadow: 0 0.38em 0 0 #404148,0 0.8em 0 0 #404148;
}

.menu__subitens {
  display: none;
  padding-left: 0;
  padding-bottom: 8px;
  list-style: none;
  color: #fff;
}

.menu__subitem {

}

.menu__subitens--isOpened ul {
  display: block;
}

.menu__subitem i {
  padding-right: 20px;
}

.menu__subitem a {
  padding: 8px 12px 8px 20px;
  font-size: 0.85em;
}

.menu__subitem-link:hover {
  color: #52535a;
}


/*==========================*\
  Small devices (tablets)
\*==========================*/
@media (min-width: 768px) {

  .vertical-nav {
    left: 0;
  }

  .toggle-menu {
    left: -200px;
  }
}

/*==========================*\
  Medium devices (desktops)
\*==========================*/
@media (min-width: 992px) {

  .toggle-menu {
    left: -136px;
  }

  .menu__icon--isCollapsed {
    float: right;
  }
}

/*==============================*\
  Large devices (Large desktops)
\*==============================*/
@media (min-width: 1200px) {

}
